{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>user_home</title>
    <meta name="description" content="Simplified Bootstrap template with sticky menu">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sticky-menu.css' %}" rel="stylesheet">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" ><b><h4 style="color:red">Welcome {{ name }}</h4></b></a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                   <li>
                        <a class="page-scroll" href="{% url 'textsumform' %}"><b><h4 style="color:blue">Text Summarization And Keyword Extraction</h4></b></a>
                    </li>
                    <li>
                        <a class="page-scroll" href=""><b><h4 style="color:blue"></h4></b></a>
                    </li>
                                          <li>
                        <a class="page-scroll" href=""><b><h4 style="color:blue"></h4></b></a>
                    </li>
                        <li>
                        <a class="page-scroll" href="{% url 'docsumform' %}"><b><h4 style="color:blue">Document Summarization </h4></b></a>
                    </li>
                                        <li>
                        <a class="page-scroll" href=""><b><h4 style="color:blue"></h4></b></a>
                    </li>
                                          <li>
                        <a class="page-scroll" href=""><b><h4 style="color:blue"></h4></b></a>
                    </li>
                                          <li>
                        <a class="page-scroll" href=""><b><h4 style="color:blue"></h4></b></a>
                    </li>
                                          <li>
                        <a class="page-scroll" href=""><b><h4 style="color:blue"></h4></b></a>
                    </li>
                                          <li>
                        <a class="page-scroll" href=""><b><h4 style="color:blue"></h4></b></a>
                    </li>
                                          <li>
                        <a class="page-scroll" href=""><b><h4 style="color:blue"></h4></b></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'ImageUpload' %}"><b><h4 style="color:blue">Image Data Summarization</h4></b></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'urlsearchsummarization' %}"><b><h4 style="color:blue">View Your Searched Url's Summarization</h4></b></a>
                    </li>
                    <li>
                        <a class="page-scroll" href=""><b><h4 style="color:blue"></h4></b></a>
                    </li>
                    <li>
                        <a class="page-scroll" href=""><b><h4 style="color:blue"></h4></b></a>
                    </li>
                                        <li>
                        <a class="page-scroll" href="{% url 'documentsummarizationdata' %}"><b><h4 style="color:blue">View Your Document's Summarization</h4></b></a>
                    </li><li>
                        <a class="page-scroll" href=""><b><h4 style="color:blue"></h4></b></a>
                    </li>
                    <li>
                        <a class="page-scroll" href=""><b><h4 style="color:blue"></h4></b></a>
                    </li>
                                        <li>
                        <a class="page-scroll" href="{% url 'ImageExtractionData' %}"><b><h4 style="color:blue">View Your Image Summarization</h4></b></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'user_logout' %}"><b><h4 style="color:blue">Logout</h4></b></a>
                    </li>
                </ul>


            </div>
            <div class="container wow bounceInDown" data-wow-duration="5s">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 text-center slide-text">
			<h1 style="color:green;">Text Summarization And Keyword Extraction</h1>
<p style="color: blue"><h4 style="color:crimson">Summarization of any data plays a vital role in integrating
central ideas in a meaningful way and to ignore irrelevant
information. Keywords drawn out of the summary helps in undeclining
the main idea of the document. It saves adequate
time for different domains of use cases like marketing,
institutions, education, business etc. Data mining involves the
process of generating new data by evaluating already existing
large data sets. Classification, clustering, regression,
association, outlier detection, prediction, tracking sequential
patterns are the techniques used for data mining. The raw data
is converted into useful information using these techniques.
Web mining is the procedure of one of the data mining
techniques which emphasize on the World Wide Web and its
            components as the primary source of data.</h4></p>
        </div><!-- End col-md-8-->
		<div class="col-md-offset-2"></div><!-- End col-md-offset-2 -->
	</div><!-- End Row -->
</div><!-- End Contanier -->

<br><br>

</form>


            <!-- .navbar-collapse -->

        </div>		<!-- .container -->
    </nav>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/sticky-menu.js"></script>

</body>

</html>
